@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./assets/large-2.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.costom{
    overflow: hidden;
}
.costom::before{
content: "";
position: absolute;
width: 900px;
height: 900px;
background: linear-gradient(#00ccff , #00ff22, rgb(255, 0, 0) , rgb(255, 234, 0));
animation: animate 2s linear infinite;
}
.costom::after{
    content: "";
    position: absolute;
    background: linear-gradient(#00ccff , #d400d4);
    background: white;
    inset: 4px;
    }
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}